.armas{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
          
}
iframe{
    padding: 30px 20px 20px 20px;

}

.weapons{
    margin: 20px 10px 20px 10px;
    color:white;
    font-size: 30px;
    background-color: rgba($color: #787283, $alpha: 0.3);

}