.armas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
            
}
iframe{
    padding: 50px 20px 50px 20px;

}

.weapons{
    margin: 20px 10px 20px 10px;
    color:white;
    font-size: 30px;
    background-color: rgba($color: #787283, $alpha: 0.3);

}
.espada{
    width: 60%;
}
.mandoble{
    width: 80%;
}
.arco{
    width: 70%;
}
.catalizador{
    width: 100%;
}
.lanza{
    width: 100%;
}