
.mainArtefactos{
    display: grid;
    grid-template-areas: "Esmeralda1 Esmeralda2 Esmeralda3 Esmeralda4 Esmeralda5" 
                             "parrafo1 parrafo2 parrafo3 parrafo4 parrafo5 "
                         " gladiador1 gladiador2 gladiador3 gladiador4 gladiador5"
                             " parrafo6 parrafo7 parrafo8 parrafo9 parrafo10"
                                "trueno1 trueno2 trueno3 trueno4 trueno5"
                             "parrafo11 parrafo12 parrafo13 parrafo14 parrafo15"
                                    "bruja1 bruja2 bruja3 bruja4 bruja5"
                             "parrafo16 parrafo17 parrafo18 parrafo19 parrafo20"
                             "doncella1 doncella2 doncella3 doncella4 doncella5"
                             "parrafo21 parrafo22 parrafo23 parrafo24 parrafo25" ;     
    row-gap: 2%;
    column-gap: 1%;    
}

.artifactsP {
    color: whitesmoke;
    background-color: rgba($color: #39161D, $alpha: 0.3);
    font-size: 150%;
    border-radius: 20px;

}

/*esmeralda*/
.esmeralda1 {
    grid-area: Esmeralda1;
}

.esmeralda2 {
    grid-area: Esmeralda2;
}

.esmeralda3 {
    grid-area: Esmeralda3;
}

.esmeralda4 {
    grid-area: Esmeralda4;
}

.esmeralda5 {
    grid-area: Esmeralda5;
}

.parrafo1 {
    grid-area: parrafo1;    
 }

.parrafo2 {
    grid-area: parrafo2;
}

.parrafo3 {
    grid-area: parrafo3;
}

.parrafo4 {
    grid-area: parrafo4; 
}

.parrafo5 {
grid-area: parrafo5;
}

/*esmeralda*/

/*gladiador*/

.gladiador1{
    grid-area: gladiador1;
}
.gladiador2{
    grid-area: gladiador2;
}
.gladiador3{
    grid-area: gladiador3;
}
.gladiador4{
    grid-area: gladiador4;
}
.gladiador5{
    grid-area: gladiador5;
}
.parrafo6 {
    grid-area: parrafo6;
 }
 .parrafo7 {
    grid-area: parrafo7;
 }
 .parrafo8 {
    grid-area: parrafo8;
 }
 .parrafo9 {
    grid-area: parrafo9;
 }
 .parrafo10 {
    grid-area: parrafo10;
 }
/*gladiador*/

/*trueno*/

.trueno1{
    grid-area: trueno1;
}
.trueno2{
    grid-area: trueno2;
}
.trueno3{
    grid-area: trueno3;
}
.trueno4{
    grid-area: trueno4;
}
.trueno5{
    grid-area: trueno5;
}
.parrafo11 {
    grid-area: parrafo11;
 }
 .parrafo12 {
    grid-area: parrafo12;
 }
 .parrafo13 {
    grid-area: parrafo13;
 }
 .parrafo14 {
    grid-area: parrafo14;
 }
 .parrafo15 {
    grid-area: parrafo15;
 }
 /*trueno*/

 /*bruja*/

 .bruja1{
     grid-area: bruja1;
 }
 .bruja2{
    grid-area: bruja2;
}
.bruja3{
    grid-area: bruja3;
}
.bruja4{
    grid-area: bruja4;
}
.bruja5{
    grid-area: bruja5;
}
.parrafo16 {
    grid-area: parrafo16;
 }
 .parrafo17 {
    grid-area: parrafo17;
 }
 .parrafo18 {
    grid-area: parrafo18;
 }
 .parrafo19 {
    grid-area: parrafo19;
 }
 .parrafo20 {
    grid-area: parrafo20;
 }
 
 /*bruja*/

/*doncella*/

.doncella1{
    grid-area: doncella1;
}
.doncella2{
    grid-area: doncella2;
}
.doncella3{
    grid-area: doncella3;
}
.doncella4{
    grid-area: doncella4;
}
.doncella5{
    grid-area: doncella5;
}
.parrafo21 {
    grid-area: parrafo21;
 }
 .parrafo22 {
    grid-area: parrafo22;
 }
 .parrafo23 {
    grid-area: parrafo23;
 }
 .parrafo24 {
    grid-area: parrafo24;
 }
 .parrafo25 {
    grid-area: parrafo25;
 }