main {
    section{
        div{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            text-align: center;
            
                
        
        }
    }
}

.stormterrorP{
    color: whitesmoke;
    background-color: rgba($color: #40CDA0, $alpha: 0.1);
    font-size: 50px;
}



