.stormTitle{
    font-size: 8vw;
    color: #40CDA0;
    text-decoration: underline;
    text-align: center;
}
.stormterrorP{
    color: whitesmoke;
    background-color: rgba($color: #40CDA0, $alpha: 0.1);
    font-size: 2vw;
    margin: 10px;
}



main {
    section{
        div{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            text-align: center;
                   
        }
    }
}
.andriusTitle{
    font-size: 8vw;
    color: #156CB0;
    text-decoration: underline; 
    text-align: center;
}
.andriusP{
    color: whitesmoke;
    background-color: rgba($color: #156CB0, $alpha: 0.3);
    font-size: 2vw;
    margin: 10px;

}

.azhdahaTitle {
    font-size: 8vw;
    color: #954413;
    text-decoration: underline;
    text-align: center;
}

.azhdahaP{
    color: whitesmoke;
    background-color: rgba($color: #954413, $alpha: 0.2);
    font-size: 2vw;
    margin: 10px;


}



