main {
    section{
        div{
            display: flex;
            
                
        
        }
    }
}

.stormterrorP{
    padding-top: 400px;
    color: whitesmoke;
    background-color: rgba($color: #4D735A, $alpha: 0.3);
}



