@media screen and (min-width: 701px) and (max-width: 1200px) {
      /*index*/ 
    .jon-title{
        color: ghostwhite;
    position: absolute;
    right: 20vw;
    font-size: 7vw;
    text-decoration: underline;
    }


    .jon_sub_menu{
        margin-left: 200px; 
    }
    /*artefactos*/
    .mainArtefactos{
                    display: grid;
                     grid-template-areas: "Esmeralda1 Esmeralda1 Esmeralda2 Esmeralda2 Esmeralda3 Esmeralda3 " 
                                 "parrafo1 parrafo1 parrafo2 parrafo2 parrafo3 parrafo3  "
                                 "Esmeralda4 Esmeralda4 Esmeralda4 Esmeralda5 Esmeralda5 Esmeralda5"
                                 "parrafo4 parrafo4 parrafo4 parrafo5 parrafo5 parrafo5"
                             " gladiador1 gladiador1 gladiador2 gladiador2 gladiador3 gladiador3"
                                 " parrafo6 parrafo6 parrafo7 parrafo7 parrafo8 parrafo8"
                                 "gladiador4 gladiador4 gladiador4 gladiador5 gladiador5 gladiador5"
                                 "parrafo9 parrafo9 parrafo9 parrafo10 parrafo10 parrafo10"
                                    "trueno1 trueno1 trueno2 trueno2 trueno3 trueno3 "
                                 "parrafo11 parrafo11 parrafo12 parrafo12 parrafo13 parrafo13"
                                 "trueno4 trueno4 trueno4 trueno5 trueno5 trueno5"
                                 "parrafo14 parrafo14 parrafo14 parrafo15 parrafo15 parrafo15"
                                    "bruja1 bruja1 bruja2 bruja2 bruja3 bruja3"
                                 "parrafo16 parrafo16 parrafo17 parrafo17 parrafo18 parrafo18 "
                                 "bruja4 bruja4 bruja4 bruja5 bruja5 bruja5"
                                 "parrafo19 parrafo19 parrafo19 parrafo20 parrafo20 parrafo20"
                                 "doncella1 doncella1 doncella2 doncella2 doncella3 doncella3"
                                 "parrafo21 parrafo21 parrafo22 parrafo22 parrafo23 parrafo23 "
                                 "doncella4 doncella4 doncella4 doncella5 doncella5 doncella5"
                                 "parrafo24 parrafo24 parrafo24 parrafo25 parrafo25 parrafo25"         ;  
        row-gap: 5px;
        column-gap: 5px;                            
           
    }
    .mainArtefactos div img{
        width: 200px;
        height: 200px;
    }

    .artifactsP{
        font-size: 125%;
    }
/*jefes*/
    section div div img{
        width: 700px;
        height: 500px;
    }

 /*armas*/
 .armas .espada{
    width: 100%;
}
.armas .mandoble{
    width: 100%;
}
.armas .arco{
    width: 90%;
}
.catalizador{
    width: 100%;
}
.lanza{
    width: 100%;
}

    
    }
