@media screen and (max-width: 700px) { 
       /* index */
        .jon-title{
            color: ghostwhite;
        position: absolute;
        right: 15vw;
        font-size: 7vw;
        text-decoration: underline;
        }
      
    
        main .elementos div a img{
                width: 300px;
                height: 150px;  
                margin: 20px 5px; 
                transition: all 2s; 
            }
        
        .jon_logo{
                 position: absolute;
                 width: 100px;
                 height: 100px;    }
        
        header .jon_menu .jon_sub_menu {
            margin-left: 80px;
            padding-bottom: 25px;
            display: flex;
            flex-wrap: wrap;
            font-size: 150%;}

        footer div a{ padding: 20px;
            img{ 
            width: 100px;
            height: 100px;

        }    }
      /*artefactos*/
        .mainArtefactos{
                        justify-items: center;
                        display: grid;
                        grid-template-areas:"Esmeralda1 Esmeralda2 " 
                                         "parrafo1 parrafo2 "
                                         "Esmeralda3 Esmeralda4"
                                         " parrafo3 parrafo4"
                                         " Esmeralda5 Esmeralda5"
                                         " parrafo5 parrafo5"
                                      " gladiador1 gladiador2 "
                                         " parrafo6 parrafo7 "
                                         "gladiador3 gladiador4 "
                                         " parrafo8 parrafo9 "
                                         "gladiador5 gladiador5"
                                         " parrafo10 parrafo10"
                                            "trueno1 trueno2 "
                                         "parrafo11 parrafo12"
                                         " trueno3 trueno4"
                                         " parrafo13 parrafo14"
                                         " trueno5 trueno5"
                                         " parrafo15 parrafo15"
                                            "bruja1 bruja2"
                                         "parrafo16 parrafo17"
                                         " bruja3 bruja4"
                                         " parrafo18 parrafo19"
                                         " bruja5 bruja5"
                                         " parrafo20 parrafo20"
                                         "doncella1 doncella2"
                                         "parrafo21 parrafo22" 
                                         " doncella3 doncella4"
                                         " parrafo23 parrafo24"
                                         " doncella5 doncella5"
                                         " parrafo25 parrafo25" ;     
                        row-gap: 1px;           
                        column-gap: 5px;    
            }  
         
    
        .artifactsP{
                    font-size: 100%;
                    margin-right: 2px;
                    margin-left: 2px;
            }
        
        .mainArtefactos div
                             {    
                                  img{
                                      
                                  width: 150px;
                                  height: 150px;
            } }
         
        
    
         /* jefes*/   
        section div div img{
                             width: 300px;
                             height: 300px;
            }    
        section div .stormterrorP{
            font-size: 5vw;
        }
        section div .andriusP{
            font-size: 5vw;
        }
        section div .azhdahaP{
            font-size: 5vw;
        }

         /*armas*/
 .armas .espada{
    width: 100%;
}
.armas .mandoble{
    width: 100%;
}
.armas .arco{
    width: 90%;
}
.catalizador{
    width: 100%;
}
.lanza{
    width: 100%;
}


       
        }